* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2196f3;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .container {
    min-width: 320px;
    width: 100%;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.social-media {
  display: flex;
  justify-content: center;
}
.social-media .social-media__icon {
  fill: currentColor;
}
.social-media .social-media__link {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
}
.social-media .social-media__link:hover,
.social-media .social-media__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.social-media .social-media__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-media__link {
  background: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
}
.footer-social-media__link:hover,
.footer-social-media__link:focus {
  background-color: #2196f3;
  color: white;
  fill: currentColor;
}

.modal-window__close-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__close-button:hover,
.modal-window__close-button:focus {
  background-color: #2196f3;
}

.section-description {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-item-description {
  padding: 30px 0px;
}

.our-team__employee-name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.features__title--hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__image {
  height: 120px;
  width: 270px;
  background-color: rgb(245, 244, 250);
  padding: 25px 100px;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 320px) and (max-width: 479px) {
  .features__item {
    width: 100%;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features__image {
    padding: 25px calc(50% - 70px);
    width: 100%;
  }
  .features__title {
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .features__item {
    width: 450px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features__image {
    padding: 25px 192px;
    width: 450px;
  }
  .features__title {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: 354px;
    margin-bottom: 30px;
  }
  .features__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .features__image {
    padding: 25px 144px;
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .header__contacts-list {
    margin-left: auto;
  }
  .features__item {
    width: 270px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 30px;
  }
}
.modal-window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
}

.modal-window__title {
  padding-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: cal(23/20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-window__form {
  width: 448px;
  padding-bottom: 40px;
  margin: 0 auto;
  position: relative;
}

.modal-window__input {
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: #afb1b8 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding-left: 42px;
}
.modal-window__input:hover,
.modal-window__input:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-window__input-comment {
  padding: 12px 16px;
  box-sizing: border-box;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 10px;
}
.modal-window__input-comment:hover,
.modal-window__input-comment:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-window__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-window__label:hover .modal-window__icon,
.modal-window__label:focus .modal-window__icon,
.modal-window__label:active .modal-window__icon {
  color: #2196f3;
  fill: currentColor;
}

.modal-window__label:not(last-child) {
  margin-bottom: 10px;
}

.modal-submit-button {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 19px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #1976d2;
}
.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #1976d2;
}

.modal-i-agree {
  position: relative;
  width: 448px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-window__icon {
  position: absolute;
  top: 50%;
  margin-left: 12px;
  fill: black;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-label {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  display: flex;
  cursor: pointer;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: auto 100%;
}

.checkbox:checked + .modal__checkbox-label > .modal-checkbox {
  background-color: #2196f3;
  border-color: white;
}

.modal__terms-condition-link:hover,
.modal__terms-condition-link:focus {
  color: #1976d2;
}

.modal__i-agree-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__terms-condition-link:visited {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__terms-condition-link:hover,
.modal__terms-condition-link:focus {
  color: #1976d2;
}

@media (min-width: 480px) and (max-width: 1199px) {
  .modal-window {
    width: 450px;
  }
  .modal-window__form {
    width: 370px;
  }
  .modal-window__title {
    margin-bottom: 12px;
  }
  .modal-window__label {
    display: flex;
    width: 370px;
  }
  .modal-window__input-comment {
    width: 370px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .modal-window {
    width: 320px;
  }
  .modal-window__form {
    width: 240px;
  }
  .modal-window__title {
    margin-bottom: 12px;
  }
  .modal-window__label {
    display: flex;
    width: 240px;
  }
  .modal-window__input-comment {
    width: 240px;
  }
}
.what-we-do {
  padding-top: 0;
}
.what-we-do .what-we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.what-we-do .what-we-do__list {
  display: flex;
  justify-content: center;
}
.what-we-do .what-we-do__item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do .what-we-do__thumbnail {
  position: relative;
  background-color: #ffffff;
}
.what-we-do .what-we-do__thumbnail > .what-we-do__label {
  width: 370px;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
.our-specialty-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.our-specialty-section__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-specialty-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-bottom: 30px;
}

.our-specialty-section__button {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 19px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.our-specialty-section__button:hover,
.our-specialty-section__button:focus {
  background-color: #1976d2;
}

@media (min-width: 1200px) {
  .our-specialty-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/studio-background-image-desktop.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1200px) and (min-resolution: 192dpi),
  (min-width: 1200px) and (min-resolution: 2dppx) {
  .our-specialty-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/studio-background-image-desktop@2x.jpg);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .our-specialty-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/studio-background-image-tablet.jpg);
  }
  .our-specialty-section__title {
    font-size: 26px;
    width: 360px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
  (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .our-specialty-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/studio-background-image-tablet@2x.jpg);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .our-specialty-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/studio-background-image-mobile.jpg);
  }
  .our-specialty-section__title {
    font-size: 26px;
    width: 360px;
  }
}
@media (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi),
  (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .our-specialty-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/studio-background-image-mobile@2x.jpg);
  }
}
@media (max-width: 479px) {
  .our-specialty-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/studio-background-image-mobile.jpg);
  }
  .our-specialty-section__title {
    font-size: 26px;
    width: 100%;
  }
}
@media (max-width: 479px) and (min-device-pixel-ratio: 2),
  (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2),
  (max-width: 479px) and (min-resolution: 192dpi),
  (max-width: 479px) and (min-resolution: 2dppx) {
  .our-specialty-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/studio-background-image-mobile@2x.jpg);
  }
}
.our-team {
  background-color: #f5f4fa;
}

.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our-team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__item-description {
  padding: 30px 0px;
}

.our-team__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-team__employee-name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team__employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

@media (max-width: 479px) {
  .our-team__image {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .our-team__image {
    width: 450px;
    height: 460px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .our-team__image {
    width: 354px;
    height: 374px;
  }
}
@media (min-width: 1200px) {
  .our-team__image {
    width: 270px;
    height: 260px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .our-team__item {
    margin-bottom: 30px;
  }
  .our-team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .our-team .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
}
.regular-customers__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.regular-customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.regular-customers__item {
  width: 170px;
}

.regular-customers__link {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.regular-customers__link:hover,
.regular-customers__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .regular-customers__item {
    width: 127px;
    margin-bottom: 30px;
  }
  .regular-customers__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .regular-customers__link {
    width: 127px;
    padding: 15px 9px;
  }
  .regular-customers__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .regular-customers__item {
    width: 210px;
    margin-bottom: 30px;
  }
  .regular-customers__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .regular-customers__link {
    width: 210px;
    padding: 16px 52px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .regular-customers__item {
    width: 226px;
    margin-bottom: 30px;
  }
  .regular-customers__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .regular-customers__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media (min-width: 1200px) {
  .regular-customers__item:not(:last-child) {
    margin-right: 30px;
  }
}
.find-us-container {
  margin-left: 70px;
}

.find-us__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .find-us-container {
    margin-left: 165px;
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .find-us__title {
    text-align: center;
  }
  .find-us-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 60px;
  }
}
@media (max-width: 479px) {
  .find-us__title {
    text-align: center;
  }
  .find-us-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 60px;
  }
}
.footer__section {
  width: 1200px;
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: #2f303a;
  display: flex;
}

@media (max-width: 767px) {
  .footer__section {
    flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .footer__section {
    flex-direction: column;
  }
}
.footer {
  background-color: #2f303a;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__section {
    flex-wrap: wrap;
  }
}
.footer-address-container {
  margin-left: 15px;
  width: 231px;
}

.footer-address {
  display: flex;
  font-style: normal;
  color: #ffffff;
}
.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}

.footer-address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #ffffff;
  letter-spacing: 0.03em;
  width: 231px;
}

.footer-address__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-address-container {
    margin-left: 76px;
    margin-bottom: 50px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer-address-container {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .footer-address-container {
    margin: 0 auto;
    text-align: center;
  }
}
.header__contacts-list {
  display: flex;
  margin-left: auto;
}

.header__contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 32px 0;
  display: flex;
  align-items: center;
}
.header__contacts-link:hover,
.header__contacts-link:focus {
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: #2196f3;
  fill: #2196f3;
}

.header__contacts-svg {
  margin-right: 10px;
  fill: currentColor;
}

@media (max-width: 767px) {
  .header__contacts-list {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-list {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
  }
  .header__contacts-link {
    padding: 10px 0;
  }
}
header {
  border-bottom: 1px solid var(--border-color);
}

.header__topline {
  display: flex;
  align-items: center;
}

.header__logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 97px;
}
.header__logo:hover,
.header__logo:focus {
  color: #1976d2;
}

@media (min-width: 480px) and (max-width: 767px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.0769230769;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.1666666667;
    margin-right: 88px;
  }
}
.footer-address__logo {
  display: block;
  margin-bottom: 9px;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-address__logo:hover,
.footer-address__logo:focus {
  color: #1976d2;
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer-address__logo {
    text-align: center;
  }
}
.navigation__list {
  display: flex;
}

@media (min-width: 480px) and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}
@media (max-width: 479px) {
  .navigation__list {
    display: none;
  }
}
.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__current-page {
  color: #2196f3;
  position: relative;
  display: inline-block;
}

.navigation__current-page::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: 0;
}

.newsletter {
  margin-left: 93px;
}

.newsletter__title {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #ffffff;
  margin-bottom: 20px;
}

.newsletter__container {
  margin-left: 93px;
}

.newsletter__form {
  display: flex;
}

.newsletter__lable {
  margin-right: 12px;
}

.newsletter__input {
  padding: 15px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}
.newsletter__input:hover,
.newsletter__input:focus {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.newsletter__button {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 19px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.newsletter__button:hover,
.newsletter__button:focus {
  background-color: #1976d2;
}
.newsletter__button__button:hover,
.newsletter__button__button:focus {
  background-color: #1976d2;
}
.newsletter__button .newsletter__send-icon {
  margin-left: 30px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .newsletter {
    margin: 0 auto;
  }
  .newsletter__title {
    text-align: center;
  }
  .newsletter__form {
    flex-direction: column;
  }
  .newsletter__lable {
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .newsletter {
    margin: 0 auto;
  }
  .newsletter__title {
    text-align: center;
  }
  .newsletter__form {
    display: flex;
    flex-direction: column;
  }
  .newsletter__lable {
    margin-bottom: 20px;
  }
  .newsletter__input {
    padding: 15px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    margin: 0 auto;
  }
  .newsletter__title {
    text-align: center;
  }
  .newsletter__form {
    flex-direction: column;
  }
  .newsletter__lable {
    margin-bottom: 20px;
  }
}
.portfolio__button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__work-button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  padding: 6px 26px;
  border: none;
  border-radius: 4px;
}
.portfolio__work-button:hover,
.portfolio__work-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media (min-width: 480px) and (max-width: 767px) {
  .portfolio__button-list {
    justify-content: normal;
  }
  .portfolio__work-button {
    margin-bottom: 15px;
  }
  .portfolio__work-button:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .portfolio__button-list {
    justify-content: normal;
  }
  .portfolio__work-button {
    margin-bottom: 15px;
  }
  .portfolio__work-button:not(:last-child) {
    margin-bottom: 15px;
  }
}
.portfolio-image__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image__item {
  background: #ffffff;
  margin-bottom: 30px;
}

.portfolio-image__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-image__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-image__item:hover,
.overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-image__card-contact {
  padding: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-image__project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.portfolio-image__project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .portfolio-image__item {
    flex-basis: calc(100% - 30px);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .portfolio-image__item {
    flex-basis: calc(100% - 30px);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio-image__item {
    flex-basis: calc(50% - 30px);
  }
}
.box {
  position: relative;
  width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

.box:hover .overlay,
.portfolio-image__item:hover .overlay {
  transform: translatey(0);
}

.overlay-text {
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 479px) {
  .box {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .box {
    width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .box {
    width: 354px;
  }
}
.header__menu-toggle {
  margin-left: auto;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: #1976d2;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  display: block;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  padding: 40px 0 0 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.mobile-menu__link:hover {
  color: #2196f3;
}

.mobile-menu__current-page {
  color: #2196f3;
  position: relative;
  display: inline-block;
}

.mobile-menu__current-page::after {
  content: "";
  width: 100%;
  background: #2196f3;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: 0;
}

.mobile-contact-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.mobile-contact {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-contact__link-phone {
  display: block;
  padding: 32px 0 0 40px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mobile-contact__link-email {
  display: block;
  padding: 32px 0 0 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-contact__link:hover {
  color: #2196f3;
}

.mobile-media {
  display: flex;
  flex-direction: row;
  padding-top: 64px;
  padding-left: 40px;
  margin: 0;
  list-style: none;
}

.mobile-media__link {
  display: block;
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-media__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-media__link:hover {
  color: #1976d2;
}

@media (min-width: 320px) and (max-width: 479px) {
  .menu-container {
    padding: 0;
  }
  .mobile-contact__link {
    padding: 32px 0 0 30px;
    font-size: 30px;
  }
  .mobile-media {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 40px;
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  .mobile-media__link {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
    padding-right: 10px;
    margin-right: 10px;
  }
} /*# sourceMappingURL=main.css.map */
