$accent-color: #2196f3;
$main-text-color: #212121;
$main-title-color: #757575;
$secondary-text-color:#757575;
$white-text-color: #ffffff;
$secondary-background: #F5F4FA;
$border-color:#ECECEC;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$timer: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$black-color: #000000;
$backgroud-color:#2F303A;
$button-hover-color:#1976d2;
$background-button-color:#F5F4FA;
$portfolio-background-color: #E5E5E5;
$border-color: #AFB1B8;
$card-gap: 30px;