.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 480px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .container {
        min-width: 320px;
        width: 100%
    }
}