@use "../utils/variables";
.find-us-container {
    margin-left: 70px;
}

.find-us__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: variables.$white-text-color;
    padding-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .find-us-container {
        margin-left: 165px;
        text-align: center;
    }
}


@media (min-width: 480px) and (max-width: 768px) {
    .find-us__title {
        text-align: center;
    }

    .find-us-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
        margin-bottom: 60px;
    }
}

@media (max-width: 479px) {
    .find-us__title {
        text-align: center;
    }

    .find-us-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
        margin-bottom: 60px;
    }
}