@use "../utils/variables";
.what-we-do {
    padding-top: 0;

.what-we-do__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: variables.$main-text-color;
    margin-bottom: 50px;
}

.what-we-do__list {
    display: flex;
    justify-content: center;
}

.what-we-do__item:not(:last-child) {
    margin-right: 30px;
}


.what-we-do__thumbnail {
    position: relative;
    background-color: variables.$white-text-color;

}

.what-we-do__thumbnail> .what-we-do__label {
    width: 370px;
    height: 70px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1px;
    background-color: rgba(47, 48, 58, 0.8);
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: variables.$white-text-color;
}
}

@media (max-width: 1199px) {
    .what-we-do {
        display: none;
    }
}